<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="ch.qos.logback.ext.spring.ApplicationContextHolder" />

	<bean id="context" class="org.slf4j.LoggerFactory" factory-method="getILoggerFactory" />

	<bean id="consoleAppender" class="ch.qos.logback.core.ConsoleAppender"
		init-method="start" destroy-method="stop">
		<property name="context" ref="context" />
		<property name="encoder">
			<bean class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"
				init-method="start" destroy-method="stop">
				<property name="context" ref="context" />
				<property name="pattern" value="%date %-5level [%thread] %logger{36} %m%n" />
			</bean>
		</property>
	</bean>

</beans>
